.nav-bar{
    background-color: #382e2e;
    color: #755625;
}

.right{
    color: #755625;
}

nav i {
    background-color: #171433
}

a {
    color: #666666;
}

.hello {
    text-shadow: 1px 1px 1px rgb(180, 180, 180)
}

a:visited {
    color: #666666;
}
.divider {
    background-color: #382e2e;
    width: 90%;
    position: relative;
    left: 5%
}
#main-container {
    background-color: #382e2e
}

#main, #contact {
    background-color: #d1d1d1;

}

h1, h3 {
    font-family: 'Merriweather', serif;
    text-shadow: 1px 1px 1px rgb(73, 73, 73);
}

.hello {
    font-family: 'Poppins', sans-serif;
}

.container {
    box-shadow: 2px 2px 5px black;
}

.nav-list{
    font-size: 20px!important;
}

.carousel-item{
    height: 600px!important;
    width: 600px!important;
}

.card {
    box-shadow: 2px 2px 5px black;
}

.card-title{
    font-size: 30px!important;
    font-weight: bold!important;
    text-shadow: 2px 2px black;
}

.hello{
    font-size: 18px;
}

.parallax{
    height: 200px;
}

.parallax-container{
    height: 300px;
}

.hello{
    text-align: center;
}

.centered{
    text-align: center;
    margin: auto;
}

.carousel{
    height:500px;
}

#me{
    max-height:400px;
    max-width:400px;
    border-radius:20px;
    float:left;
    margin:40px;
}

.email{
    text-align:center;
}

.contact h4,h5,p {
    text-shadow: 1px 1px 1px rgb(180, 180, 180)
}

.mobile {
    height: 100%;
    width: 100%;
}
  
@media screen and (max-width:1025px){
    .carousel-item{
        max-height:400px;
        max-width:400px;
    }
}

@media screen and (max-width:700px){
    .email{
        font-size:20px;
    }
    .carousel{
        height:400px;
        padding:0px;
    }
    .carousel-item{
    max-height:250px;
    max-width:250px;
    }

    .email{
        font-size:18px;
    }
}

@media screen and (max-width:600px){
    .social {
        background: #171433;
    }

    nav i {
        color: white;
    }

    .hello {
        padding-left: 10px;
        padding-right: 10px;
    }

    .carousel {
        height: 400px;
    }
    
    .mobile {
        height: 100%;
        position: relative;
        bottom: 50px;
    }

    .card-action {
        width: 250px;
    }

    .contact-media a{
            position: relative;
            left: 145px;
        } 
}